*.o
*.lo
configure
Makefile
install-sh
missing
mkinstalldirs
autom4te.cache/
config.log
config.status
libbswabe.a
.deps/
.libs/
ar-lib
compile
config.guess
config.sub
depcomp
libbswabe.la
libtool
ltmain.sh
Makefile.in
aclocal.m4
